@use "./Variables.scss" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-aqua;
}

.app-wrapper {
    display: flex;
    justify-content: center;  
    align-items: center;    
    flex-direction: column;  
    height: 100vh;     
    background-color: $color-grey; 
}